.userList{
    /* overflow: scroll; */
    
}

.historyAvatar{
    position: relative;
    display: inline-block;
}

/* .chatItem{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;

} */


.newMessage:hover {
    transform: scale(1.2); /* Slightly enlarge icon on hover */
    transition: transform 0.2s; /* Smooth transition */
  }